body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0);
}

.container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 350px;

    padding: 35px;

    background-color: rgb(255, 255, 255);

    border-radius: 20px;

    box-shadow: 0 5px 20px rgb(4, 0, 255);
}

.login-card h1 {
    color: rgb(0, 0, 0);

    text-align: center;

    margin-bottom: 10px;
}

.login-card p {
    color: rgb(0, 0, 0)000;

    text-align: center;

    margin-bottom: 25px;
}

.login-card label {
    display: block;

    margin-top: 15px;

    color: #000000;

    font-weight: bold;
}

.login-card input {
    width: 100%;

    padding: 12px;

    margin-top: 5px;
    border: 1px solid #000000;

    border-radius: 8px;

    outline: none;
}

.login-card input:focus {
    border-color: #000000;
}

.login-card button {
    width: 100%;

    padding: 12px;

    margin-top: 25px;

    background-color: #000000;

    color: rgb(0, 0, 0);

    border: none;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;
}
.login-card button:hover {
 background-color: #000000;
}
