* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    margin-bottom: 10px;
}

header h1 {
    color: #ffffff;
    font-size: 26px;
}


main {
    background-color: #000000;
    width: 100%;
    max-width: 400px;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgb(255, 0, 0); 
    text-align: center;
}


.input-group {
    text-align: left;
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}


input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    background-color: #ffffff;
    transition: all 0.3s ease;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #0004fd;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(4, 0, 255, 0.3);
}


.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
    text-align: left;
}

.checkbox-group label {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
}

.checkbox-group input {
    cursor: pointer;
    width: 16px;
    height: 16px;
}


button[type="submit"] {
    width: 100%;
    padding: 14px;
    background-color: #df0505;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button[type="submit"]:hover {
    background-color: #ff0000; 

}
button[type="submit"]:active {
    transform: scale(0.98);
}


.link-login {
    display: inline-block;
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.link-login:hover {
    text-decoration: underline;
}