.metricas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cartao {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(255, 0, 0);
    position: relative;
    font-size: 18px;
}

.cartao h2 {
    color :#000
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin: 30px 0 15px;
    font-size: 28px;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme h2 {
    color:#000;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgb(255, 255, 255);
}

table th {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 12px;
    font-size: 18px;
}

table td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.dashboard-content h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.kpi-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.kpi-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    border-left: 4px solid #ff0000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.kpi-card h3 {
    font-size: 14px;
    color: #aaaaaa;
    margin-bottom: 10px;
}

.kpi-card .number {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
} 

@media (max-width: 786px) {
    
    .header {
        padding: 15px;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0 0 0 / 80%);
        z-index: 1000;
        height: 100%;
        padding: 30px;
        backdrop-filter: blur(8px);
        padding-top: 60px;
        align-items: flex-end;
        justify-content: flex-start;
        
    }

    .menu.aberto{
        display: flex;
    }

    #botaoMenu {
        display: block;
        z-index: 1001;
    }

    .metricas {
        flex-direction: column;
    }

    .cartao {
        width: 100%;
    }

    table {
        width: 100%;
        font-size: 14px;
    }

}
