* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-theme {
    background-color: white;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 1.5rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

table tr:nth-child(even) {
    background: #f2f2f2;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 16px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color :#fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 15px 30px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ff0000;
}

.card-telemetria {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
}

.status-ativo {
    background-color: #1ea70c;
    color: #f5f8f6;
    border-left: 6px solid #7e817e;
}

.status-inativo {
    background-color: #910707;
    color: #dedfe0;
    border-left: 6px solid #6c757d;
}

.status-alerta {
    background-color: #9e000d;
    color: #fdfdfd;
    border-left: 6px solid #838181;
    animation: piscarAlerta 1s infinite alternate;
}

@keyframes piscarAlerta {
    from { opacity: 1; }
    to { opacity: 0.5; }
}




#painel-status.status-ativo {
    background-color: #69f369; 
    color: #eff3ef; 
    border-left: 6px solid #878887;
}


#painel-status.status-alerta {
    background-color: #f11a1a; 
    color: #f3efef; 
    border-left: 6px solid #727272;
    animation: piscarAlerta 1s infinite alternate;
}



#lista-dispositivos {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.dispositivo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-size: 16px;
}

.btn-toggle {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: #1e1e1e;
    color: #ffffff;
    transition: background-color 0.2s ease;
}

.btn-toggle:hover {
    background-color: #ff0000;
}

.form-container {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}


.form-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px 0;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #2b2b2b;
    color: #fff;
}
